# Git aliases
alias ga="git add"
alias gap="git add -p"
alias gc="git commit"
alias gd="git diff"
alias gdc="git diff --cached"
alias gl="git log --name-status"
alias glp="git log -p"
alias gs="git status"

# Misc
alias cm=chezmoi
{{- if eq .chezmoi.os "darwin" }}
alias mp=multipass
{{- end }}
