# Git aliases
alias ga="git add"
alias gap="git add -p"
alias gb="git branch"
alias gc="git -c status.showUntrackedFiles=no commit"
alias gd="git diff"
alias gdc="git diff --cached"
alias gl="git log --name-status"
alias glp="git log -p"
alias gr="git restore"
alias grs="git restore --staged"
alias gs="git status"
alias gsu="git status --untracked-files=no"

# Misc
alias cm=chezmoi
{{- if eq .chezmoi.os "darwin" }}
alias code="/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code"
alias mp=multipass
{{- end }}
alias da="direnv allow"
alias dc="docker-compose"
alias kc=kubectl
complete -o default -F __start_kubectl kc

# kubectl
alias kc-ef2test="kubectl --kubeconfig ~/.kube/config.ef2test"
alias kc-ef2prod="kubectl --kubeconfig ~/.kube/config.ef2prod"

# Python things
alias llm="uvx --quiet --with llm-ollama llm"
alias marimo="uvx --quiet --with 'marimo[recommended]' marimo"
alias vd="uvx --quiet --from visidata --with pyarrow vd"
