[user]
	name = Tim Potter
	email = {{ .email | quote }}
[init]
	defaultBranch = main
[core]
	pager = diff-so-fancy | less --tabs=4 -RF
[diff]
	noprefix = true
[pull]
	ff = only
[grep]
	lineNumber = true
[merge]
	conflictstyle = diff3
[interactive]
	diffFilter = diff-so-fancy --patch
