# Git aliases
alias ga="git add"
alias gap="git add -p"
alias gb="git branch"
alias gc="git commit"
alias gd="git diff"
alias gdc="git diff --cached"
alias gl="git log --name-status"
alias glp="git log -p"
alias gr="git restore"
alias grs="git restore --staged"
alias gs="git status"
alias gsu="git status --untracked-files=no"

# Misc
alias cm=chezmoi
{{- if eq .chezmoi.os "darwin" }}
alias mp=multipass
{{- end }}
alias da="direnv allow"
alias tf=terraform
alias kc=kubectl
alias vd="uvx --from visidata vd"
