# Bash config
export BASH_SILENCE_DEPRECATION_WARNING=1
HISTCONTROL=ignorespace
FIGNORE=.DS_Store

export PATH=${PATH}:${HOME}/bin

. ${HOME}/.bash_aliases

# Homebrew setup and config
# https://docs.brew.sh/Manpage#environment
export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_API_AUTO_UPDATE_SECS=7200
export HOMEBREW_GIT_EMAIL={{ .email | quote }}
export HOMEBREW_GIT_NAME="Tim Potter"

# Figure out Homebrew location from the three possible places it's
# likely to be in
BREW=$(whereis -bq \
  -B /usr/local/brew/bin /opt/homebrew/bin ${HOME}/homebrew/bin \
  -f brew)

if [ -x ${BREW} ]; then
  eval "$(${BREW} shellenv)"
fi

[[ -r "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh" ]] && \
	. "${HOMEBREW_PREFIX}/etc/profile.d/bash_completion.sh"

# Rustup setup and config
export PATH="${HOMEBREW_PREFIX}/opt/rustup/bin:${PATH}"

# Rancher Desktop setup and config
export PATH="${HOME}/.rd/bin:${PATH}"

# node@20 (current LTS) is keg-only and not smlinked into
# ${HOMEBREW_PREFIX} so post-install by hand
export PATH="${HOMEBREW_PREFIX}/opt/node@20/bin:${PATH}"
export LDFLAGS="${LDFLAGS} -L${HOMEBREW_PREFIX}/opt/node@20/lib"
export CPPFLAGS="${CPPFLAGS} -I${HOMEBREW_PREFIX}/opt/node@20/include"

# fzf setup and config
which -s fzf && eval "$(fzf --bash)"

# pyenv setup and config
if which -s pyenv; then
  export PYENV_ROOT="${HOME}/.pyenv"
  [[ -d ${PYENV_ROOT}/bin ]] && export PATH="${PYENV_ROOT}/bin:${PATH}"
  eval "$(pyenv init -)"
fi
